<header>
    <div class="header_icons">
        <a href="/main" class="fa-brands fa-twitter home"></a>
        <!-- %include("bird") -->
        <a href="/main" class="header_icons__profile fa-solid fa-house">
            
            <p>Home</p>
        </a>
        <a href="/profile/{{ get('user_id') }}" class="header_icons__profile fa-solid fa-user">
            <p class="header_icons__profile-text">Profile</p>
        </a>
        <a href="/logout" class="header_icons__logout fa-solid fa-right-from-bracket">
            <p class="header_icons__logout-text">Log out</p>
        </a>
        <button onclick="toggleModal('tweet')" class="tweet_btn">Tweet</button>
    </div>
    <div class="header_menu">
        <div class="header_menu__button" onclick="toggleModal('menu')">
            <img src="/profile_images/{{ get('user_image') }}" alt="" class="user_image">
            <div>
                <p>{{ get('user_first_name') }} {{ get('user_last_name') }}</p>
                <p class="user_tag">{{ get('user_tag') }}</p>
            </div>
            <div class="fa-solid fa-ellipsis dots"></div>
        </div>
    </div>
        

    <section class="tweet_modal header_menu_modal">
        <div class="tweet_modal__modal background" onclick="toggleModal('close')"></div>
        <div class="header_menu_box">
            <div class="header_menu_box__top">
                <img src="/profile_images/{{ get('user_image') }}" alt="" class="user_image">
                <div>
                    <a href="/profile/{{ get('user_id') }}">{{ get('user_first_name') }} {{ get('user_last_name') }}</a>
                    <p class="user_tag">{{ get('user_tag') }}</p>
                </div>
            </div>
            <a href="/logout">Log out {{ get('user_tag') }}</a>

            <svg viewBox="0 0 24 24" aria-hidden="true"><g><path d="M12.538 6.478c-.14-.146-.335-.228-.538-.228s-.396.082-.538.228l-9.252 9.53c-.21.217-.27.538-.152.815.117.277.39.458.69.458h18.5c.302 0 .573-.18.69-.457.118-.277.058-.598-.152-.814l-9.248-9.532z"></path></g></svg>
        </div>
    </section>
    

    <section class="tweet_modal tweet_header">
        <div class="tweet_modal__modal" onclick="toggleModal('close')"></div>

        <div class="tweet_modal__form">
            <i class="back fa-solid fa-xmark" onclick="toggleModal('closeButton')"></i>
            <img src="../profile_images/{{logged_in_user['user_image']}}" alt="user image" class="user_image">
            <form class="tweet_header" onsubmit="return false" autocomplete="off">
                <div class="input_content">
                    <input name="tweet_text" type="text"placeholder=" Hi {{logged_in_user['user_first_name']}}! What's happening?" data-validate="str" data-min="1" data-max="200">
                    <div class="tweet_image_container hide">
                        <div onclick="removeImage()" class="remove_tweet_image fa-solid fa-xmark"></div>
                        <img alt="tweet image"  class="tweet_image">
                    </div>
                </div>
                
                <div class="image_upload">
                    <label for="tweet_image_upload_header">
                        <i class="fa-solid fa-image"></i>
                    </label>
                    <input id="tweet_image_upload_header" name="tweet_image" type="file" accept="image/png, image/jpeg, image/jpg" onchange="handleFileInput()">
                </div>

                <button onclick="validate(createTweet); return false" class="tweet_btn">Tweet</button>
            </form>
        
        </div>

    </section>

</header>