%include("head", title="Welcome | Twitter")
<main id="start">
    <div class="start_content">
        <div class="fa-brands fa-twitter bird"></div>
        <h1>Happening now</h1>

        <h2>Sign up for twitter today.</h2>

        <button onclick="toggleModal('signup')" class="tweet_btn">Sign up via e-mail</button>
        <p class="terms">By signing up you agree to the terms of conditions, and the usage of cookies.</p>
        <section id="sign_up">
            <div id="sign_up__modal" onclick="toggleModal('close')"></div>
            <form autocomplete="off" onsubmit="return false" id="sign_up__form" >
                <i class="back fa-solid fa-xmark" onclick="toggleModal('closeButton')"></i>
                <h2>Make an account</h2>
                <div class="user_tag">
                    <label for="user_tag" >&#64;</label>
                    <input autocomplete="off" name="user_tag" type="text" placeholder="Tag name" data-validate="str" data-min="1" data-max="20" required>
                </div>
                <div>
                    <input autocomplete="off" name="user_first_name" type="search" data-validate="str" data-min="1" data-max="20" required>
                    <label for="user_first_name">First name</label>
                </div>
                <div>
                    <input name="user_last_name" type="text" data-validate="str" data-min="1" data-max="20" required>
                    <label for="user_last_name">Last name</label>
                </div>
                <div>
                    <input name="user_email" type="search" data-validate="email" data-min="1" data-max="20" required>
                    <label for="user_email">Email</label>
                </div>
                <div>
                    <input name="user_password" type="password" data-validate="str" data-min="6" data-max="20" required>
                    <label for="user_password">Password </label>
                    <span>(at least 6 characters and maximum 20)</span>
                </div>
                <div class="user_image">
                    <label for="user_image" >Upload a profile picture</label>
                    <input name="user_image" type="file" data-validate="file" required>
                </div>
                <p class="error_message"></p>
                <button onclick="validate(signUp); return false" class="btn_white" data-default="Sign me up!"
                data-await="Signing up..."> Sign me up! </button>
            </form>
        </section>

        <h3>Already have an account?</h3>
        <button onclick="toggleModal('login')"> Log In </button>
        <section id="log_in">
            <div id="log_in__modal" onclick="toggleModal('close')"></div>
            <form onsubmit="return false" id="log_in__form" autocomplete="off">
                <i class="back fa-solid fa-xmark" onclick="toggleModal('closeButton')"></i>
                <h2>Log in to Twitter</h2>
                <div>
                    <input name="user_email" type="text" data-validate="email" data-min="1" data-max="20" required>
                    <label for="user_email">Email</label>
                </div>
                <div>
                    <input name="user_password" type="password" data-validate="str" data-min="6" data-max="20" required>
                    <label for="user_password">Password </label>
                    <span>(at least 6 characters and maximum 20)</span>
                </div>
                <p class="error_message"></p>
                <button onclick="validate(logIn); return false" class="btn_white"> Log me in! </button>
            </form>
            
        </section>

    </div>

    <div class="frontpage_img">
        <svg viewBox="0 0 24 24" aria-hidden="true"><g><path d="M23.643 4.937c-.835.37-1.732.62-2.675.733.962-.576 1.7-1.49 2.048-2.578-.9.534-1.897.922-2.958 1.13-.85-.904-2.06-1.47-3.4-1.47-2.572 0-4.658 2.086-4.658 4.66 0 .364.042.718.12 1.06-3.873-.195-7.304-2.05-9.602-4.868-.4.69-.63 1.49-.63 2.342 0 1.616.823 3.043 2.072 3.878-.764-.025-1.482-.234-2.11-.583v.06c0 2.257 1.605 4.14 3.737 4.568-.392.106-.803.162-1.227.162-.3 0-.593-.028-.877-.082.593 1.85 2.313 3.198 4.352 3.234-1.595 1.25-3.604 1.995-5.786 1.995-.376 0-.747-.022-1.112-.065 2.062 1.323 4.51 2.093 7.14 2.093 8.57 0 13.255-7.098 13.255-13.254 0-.2-.005-.402-.014-.602.91-.658 1.7-1.477 2.323-2.41z"></path></g></svg>
    </div>
    
    <div class="footer index_footer">
        <p>Terms of Service</p>
        <p>Privacy Policy</p>
        <p>Cookie Policy</p>
        <p>Accessibility</p>
        <p>Ads info</p>
        <p>More</p>
        <p>© 2022 Signe Marie Mathiasen, KEA</p>
    </div>

</main>



%include("footer")